*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin:0;
    padding:0;
    border:0;
}

.head{
    background-color:cadetblue;
    width:100%;
    color:white;
    padding:2% 3%
}
.info{
    float: left;
    padding:4% 1%;
    width:95%;
}
.profile{
    float:left;
    padding: 2% 3%;
    width:100%;
}
.heading{
    font-size:40px;
    color:cadetblue
}
.heading1{
    font-size: 40px;
    color: cadetblue;
}
.links{
    text-decoration: none;
    color: black;
}
.links:hover{
    color:blueviolet;
}
.rule{
    padding-left: 1%;
}
.head_td{
    padding:2% 5%
}
.head_h1{
    font-size:70px;
}
.head_h3{
    font-size:50px;
}
.image{
    width:100%;
    height:100%
}
.image_pad{
    padding:2% 3.5%
}
.logo{
    width:25px;
    height:25px;
}
.font1{
    font-size:30px;
}
.font2{
    font-size:23px;
}
.prohead{
    font-size:25px;
}
@media only screen and (max-width:600px) {
    .heading{
        font-size:100%
    }
    .head_h1{
        font-size:150%;
    }
    .head_h3{
        font-size:100%;
    }
    .heading1{
        font-size:100%
    }
    .font1{
        font-size:50%
    }
    .prohead{
        font-size:60%;
    }
    .font2{
        font-size:50%;
    }
    .logo{
        width:12px;
        height:12px;
    }
}