*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    margin:0;
    padding:0;
    border:0;
}
.head{
    background-color:cadetblue;
    width:100%;
    color:white;
}
.info{
    float: left;
    padding: 20px;
    width:95%;
}
.profile{
    float:left;
    padding: 20px 30px;
    width:100%;
}
.heading{
    font-size:40px;
    color:cadetblue
}
.heading1{
    color: cadetblue;
}
.links{
    text-decoration: none;
    color: black;
}
.links:hover{
    color:blueviolet;
}
.rule{
    padding-left: 10px;
}